{
    "statements": 27,
    "branches": 14,
    "functions": 10,
     "lines": 27,
 "reporter": [
    "json",
    "text-summary"
  ],
  "exclude": [
    "coverage/**",
    "docs/**",
    "test{,s}/**",
    "test{,-*}.{js,cjs,mjs,ts}",
    "lib/browser/**",
    "package-scripts.js",
    "scripts/**"
  ],
  "check-coverage": true
}