{
    "statements": 60,
    "branches": 51,
    "functions": 48,
     "lines": 60,
 "reporter": [
    "json",
    "text-summary"
  ],
  "exclude": [
    "coverage/**",
    "docs/**",
    "test{,s}/**",
    "test{,-*}.{js,cjs,mjs,ts}",
    "lib/browser/**",
    "package-scripts.js",
    "scripts/**"
  ],
  "check-coverage": true
}